<div class="card h-100 shadow-sm">
  <div class="card-header bg-light">
  </div>

  <div class="card-body" *ngIf="!isLoading">
    <p class="mb-2">
      <strong>Łącznie zainwestowano:</strong>
      <span class="text-dark ms-1">
        {{ totalInvested | currency:'PLN':'symbol':'1.2-2' }}
      </span>
    </p>

    <p class="mb-2">
      <strong>Aktualna wartość (rynkowa):</strong>
      <span class="text-dark ms-1">
        {{ totalMarketValue | currency:'PLN':'symbol':'1.2-2' }}
      </span>
    </p>

  <p class="mt-3 fs-5">
  <strong>Zysk / strata:</strong>
  <span [ngClass]="profit >= 0 ? 'text-success' : 'text-danger'" class="ms-2">
    <i [ngClass]="profit >= 0 ? 'bi bi-arrow-up-circle' : 'bi bi-arrow-down-circle'"></i>
    {{ profit | currency:'PLN':'symbol':'1.2-2' }}
    ({{ profitPercent }}%)
  </span>
</p>

  </div>

  <div class="card-body" *ngIf="isLoading">
    <p class="text-muted">🔄 Ładowanie danych...</p>
  </div>
</div>
